@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  overflow-x: hidden;
}
header {
  position: relative;
  background: #282828;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.nav-section {
  width: 100%;
  display: flex;
  position: relative;
}
h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 16px;
  color: white;
  transform: translate(4vw, 8px);
}
span {
  color: #55ff55;
}
nav {
  transform: translate(42vw, 0px);
  position: absolute;
}
ul {
  list-style: none;
  font-weight: 600;
  font-size: 24px;
  display: flex;
}
header a {
  text-decoration: none;
  margin-left: 100px;
  color: white;
}
header p {
  color: white;
  font-size: 1.25em;
  padding-left: 10vw;
  padding-right: 7vw;
  font-weight: 700;
}
#desc {
  font-size: 1.35em;
}
#profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: -2px 6px 15px 20px #181818;
  margin: 35px 0 0 18vw;
}
h1 {
  color: white;
  padding-left: 10vw;
  margin-top: 4vw;
  font-size: 40px;
}
.links {
  margin-left: 8vw;
  margin-top: 3vw;
  padding-bottom: 10vw;
}
.links .fab,
.fa,
.far {
  font-weight: 700;
  margin-left: -68px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px;
}
.projects-section {
  background-color: white;
  width: 100%;
  height: 100%;
}
.projects-section a {
  color: white;
  margin-left: 7vw;
}
#heading {
  font-size: 50px;
  color: black;
  margin-top: 5vw;
  margin-left: 10em;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0%, -20%);
  margin-top: 60px;
  padding-left: 5vw;
  padding-right: 5vw;
}
.cards div {
  width: 410px;
  background-color: #f0e6e6;
  margin-top: 8vw;
}
.cards img {
  width: 100%;
  height: 240px;
}
#more-pro {
  color: black;
  font-size: 1.35em;
  float: right;
  padding-right: 40px;
  margin-bottom: 5vw;
  text-decoration: none;
}
.cards .info-1,
.info-2,
.info-3 {
  padding: 2px 16px;
}
.cards h1 {
  color: #282828;
  margin-top: -8vw;
  margin-left: -2.3em;
}
#pro-heading-3 {
  margin-left: -9vw;
}
.cards p {
  color: #282828;
  margin-left: 25px;
}
.cards .fab,
.fa {
  color: #181818;
  border: 2px solid black;
  border-radius: 50%;
  padding: 8px;
  margin-right: -80px;
  margin-bottom: 30px;
}
.about-me {
  background-color: #1d49a7;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.about-me h1 {
  color: #fafafa;
  padding: 70px;
  margin-left: 8vw;
}
#mee {
  color: #55ff55;
  margin-left: 15vw;
  font-size: 1.25em;
  font-weight: 700;
}
.about-me a {
  text-decoration: none;
}
#me {
  letter-spacing: 0.5px;
  padding-right: 20vw;
  padding-left: 15vw;
  color: lightyellow;
  font-size: 1.9em;
  font-family: 'Source Sans Pro', sans-serif;
}
#resume {
  margin-left: 11vw;
  margin-bottom: 10vw;
}
footer {
  background-color: #181818;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  padding: 10px;
  overflow: hidden;
}
footer a {
  margin-left: 50px;
}
footer .fas,
.fa {
  border: 2px solid white;
  margin-left: 20vw;
  border-radius: 50%;
  padding: 10px;
}
footer h2 {
  letter-spacing: 1px;
  margin-top: 4px;
  padding-left: 10px;
}
#email {
  margin-right: 17vw;
}
footer .far,
.fa {
  margin-left: -10px;
  padding: 10px;
}
footer .call, .mail {
  display: flex;
  position: relative;
  top: 10px;
  overflow: hidden;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  #profile {
    position: relative;
    left: 12%;
  }
  h1 {
    font-size: 6vw;
    padding-left: 10vw;
  }
  .links {
    margin-left: 4vw;
  }
  .cards {
    flex-direction: column;
    transform: translate(4px, -2%);
    margin: auto;
  }
  .cards div {
    width: 400px;
    text-align: center;
  }
  .cards h1 {
    margin-left: -9vw;
  }
  #heading {
    margin-left: 23vw;
    text-align: inherit;
  }
  #pro-heading-3 {
    margin-left: -10vw;
  }
  .projects-section a {
    margin: 0px auto;
    position: relative;
    margin-left: -9vw;
    margin-right: 45px;
  }
  footer {
    display: block;
  }
  .call, .mail {
    display: flex;
  }
  footer .fas, .fa {
    margin-left: 0vw;
    margin-top: 13px;
  }
  footer .far, .fa {
    margin-left: 0px;
    margin-top: 13px;
  }
  h2, #email {
    margin-right: 5vw;
    margin-left: 12px;
  }
}
